@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

#right-eye, #left-eye{
	animation: eye-slide 2s linear infinite;
}

#left-ear, #right-ear {
	animation: ear-start .5s linear 1;
}

.bear:hover #left-ear {
	animation: ear-slide .5s linear 1;
}

.bear:hover #right-ear {
	animation: ear-slide .5s linear 1;
}


@keyframes eye-slide {
	0% {
		transform: translateX(0px);
	}

	25% {
		transform: translateX(8px);
	}

	50% {
		transform: translateX(0px);
	}

	75% {
		transform: translateX(-8px);
	}

	100% {
		transform: translateX(0px);
	}
}

@keyframes ear-slide {
	from {
		transform: translateY(0px);
	}

	to {
		transform: translateY(-10px);
	}
}

@keyframes ear-start {

	to {
		transform: translateY(0px);
	}

	from {
		transform: translateY(-10px);
	}
}